@model project.core.Models.DTO.SeanceStatisticsViewModel

@{
    ViewData["Title"] = "Seans Statistics";
}

<h2>Seans Statistics</h2>

<div>
    <h3>
        @Html.DisplayNameFor(model => model.MovieName): @Html.DisplayFor(model => model.MovieName)
    </h3>
    @* <p>Id seansu: @Model.SeanceId</p> *@
    <p>@Html.DisplayNameFor(model => model.TotalTicketsSold): @Html.DisplayFor(model => model.TotalTicketsSold)</p>
    <p>@Html.DisplayNameFor(model => model.TotalRevenue): @Html.DisplayFor(model => model.TotalRevenue) zł</p>

    <h4>Ticket sale details:</h4>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TicketsSoldDetails[0].TicketName)</th>
                <th>@Html.DisplayNameFor(model => model.TicketsSoldDetails[0].QuantitySold)</th>
                <th>@Html.DisplayNameFor(model => model.TicketsSoldDetails[0].Revenue)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in Model.TicketsSoldDetails)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => ticket.TicketName)</td>
                    <td>@Html.DisplayFor(modelItem => ticket.QuantitySold)</td>
                    <td>@Html.DisplayFor(modelItem => ticket.Revenue)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
